.whole {
    padding-top: 0;
}

.heroSection {
    position: relative;
    min-height: 100vh;
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.firstContainer {
    position: relative;
    z-index: 10;
    max-width: 80rem;
    margin: auto;
    padding: 3rem 1rem;
}

.heroGrid {
    display: grid;
    gap: 6rem;
    align-items: center;

    grid-template-columns: 1fr;
    grid-template-areas:
        "image text"
        "stats stats";
}

.imageSide {
    grid-area: image;
    justify-self: left;
}

.imageWrapper {
    position: relative;
}

.imageGlow {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #D9A296, #D97B73);
    border-radius: 50%;
    filter: blur(50px);
    opacity: 0.35;
    z-index: 0;
}

.imageSide img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 110vh;
    border-radius: 1rem;
    object-fit: cover;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.imageGlow {
    position: absolute;
}

.textSide {
    grid-area: text;
    text-align: left;
}

.badge {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #f39696;
    color: #45858C;
    border-radius: 20px;
    margin-bottom: 0.1rem;
}

.title {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: black;
}

.nameColor {
    background: linear-gradient(to right, #45858C, #D94E4E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle {
    font-size: 1.5rem;
    color: #4b5563;
    margin-bottom: 2rem;
}

.description {
    font-size: 1.125rem;
    color: #6b7280;
    margin-bottom: 2rem;
    max-width: 36rem;
}

.buttonGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.primaryButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    background: linear-gradient(to right, #45858C, #D94E4E);
    color: white;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out
}

.primaryButton:hover {
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
    color: white;
}

.primaryButton:hover .rightArrow {
    transform: translateX(2px);
}

.rightArrow {
    transition: transform 0.2s ease-in-out;
}

.secondaryButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    border: 2px solid #c9cfd8;
    color: #374151;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.secondaryButton:hover {
    border-color: #D97B73;
    color: #D97B73;
}

.secondaryButton:hover .messageCircle {
    transform: scale(1.2);
}

.messageCircle {
    transition: transform 0.2s ease-in-out;
}

.socials {
    display: flex;
    gap: 2rem;
    justify-self: center;
}

.socialIcon {
    padding: 0.75em;
    background: #45858C;
    color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.socialIcon:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.github:hover {
    background: #333;
    color: white;
}

.linkedin:hover {
    background: #0A66C2;
    color: white;
}

.email:hover {
    background: #D94E4E;
    color: white;
}

.statsGrid {
    grid-area: stats;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.statCard {
    display: flex;
    align-items: center;
    gap: 1rem;

    background: #6AA6A6;
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    padding: 1.25rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.statIconBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    color: white;
    background: linear-gradient(to bottom right, #6AA6A6, #D97B73);
    border-radius: 0.75rem;
}

.statText {
    display: flex;
    text-align: left;
    flex-direction: column;
}

.statValue {
    font-size: 1.5rem;
    color: white;
}

.statLabel {
    font-size: 0.9rem;
    color: #374151;
}

.scrollIndicator {
    position: absolute;
    bottom: 0.60rem;
    left: 48.6%;

    width: 30px;
    height: 40px;
    border: 2px solid #45858C;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5px;
    z-index: 2;
}

.scrollDot {
    width: 4px;
    height: 8px;
    background: #D9A296;
    border-radius: 2px;
}

.Background {
    position: absolute;
    width: 100%;
    inset: 0;
    background: linear-gradient(to bottom right, #d9d4a0, #f5f5f1, #d9d4a0);
    opacity: 0.85;
    z-index: 0;
}

.firstCircle {
    position: absolute;
    top: 5rem;
    right: 2rem;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    filter: blur(50px);
    opacity: 0.35;
    background: #45858C;
}

.secondCircle {
    position: absolute;
    bottom: 5rem;
    left: 2rem;
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    filter: blur(50px);
    opacity: 0.35;
    background: #D97B73;
}

@media (max-width:1024px) {
    .heroGrid {
        display: grid;
        gap: 3rem;
        align-items: center;

        grid-template-columns: 1fr;
        grid-template-areas:
            "image"
            "text"
            "stats";
    }

}

@media (min-width: 768px) {
    .whole {
        padding-top: 5rem;
    }
}

@media (max-width:768px) {

    .imageSide {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    .imageSide img {
        height: auto;
        max-height: 350px;
    }

    .subtitle {
        font-size: 1.3rem;
    }

    .textSide {
        grid-area: text;
        text-align: center;
    }

    .title {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    .statsGrid {
        grid-template-columns: 1fr;
    }

    .imageGlow {
        filter: blur(30px);
        transform: scale(0.7);
    }

    .firstCircle,
    .secondCircle {
        width: 12rem;
        height: 12rem;
    }

}